In [10]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
title_basics = "https://datasets.imdbws.com/title.basics.tsv.gz"

title_akas = "https://datasets.imdbws.com/title.akas.tsv.gz"


title_ratings = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [4]:
basics = pd.read_csv(title_basics, sep = "\t", low_memory = False)

akas = pd.read_csv(title_akas, sep = "\t", low_memory = False)

ratings = pd.read_csv(title_ratings, sep = "\t", low_memory = False)

### Cleaning the basics table

In [5]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [11]:
basics.replace({'\\N':np.nan}, inplace = True)

In [12]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,NaN,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,NaN,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,NaN,1,"Comedy,Short"